.container {
  /* border: 5px solid;  */
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 50vw;
  /* min-width: 455px; */
  height: 100%;
  /* min-height: 300px; */
  background-size: cover;
  background-position: flex-end;
  background-repeat: no-repeat;
  transition: transform 0.3s ease-in-out;
}

.container :hover {
  cursor: pointer;
}

.textContainer {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  padding-block: 40px;
  gap: 1rem;
  
}

.text {
  /* border: 5px solid; */
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
  color: white;
  height: 70%;

}

.subText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: bold;
}

.navText {
  /* border: 5px solid; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.titleText {
  display: flex;
  align-items: center;
  font-size: 25;
  font-weight: bold;
}

.navigateIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image {
  display: flex;
}